@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Kaushan+Script&family=Merriweather:wght@300&family=Oswald:wght@200;400;600&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300&family=Roboto+Mono:wght@300&family=Roboto:wght@700&family=Syncopate&family=Ubuntu:ital,wght@0,500;1,500&family=Young+Serif&display=swap');

*
{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #6629d7;
    /* background: linear-gradient(to left top,blue); */
    padding: 0 35px;
}

.wrapper
{
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i
{
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper i:first-child
{
    left: -22px;
}

.wrapper i:last-child
{
    right: -22px;
}

.carousel :where(.card,.img)
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .card
{
    scroll-snap-align: start;
    cursor: pointer;
    height: 342px;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper .carousel
{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/3) - 12px);
    gap: 15px;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar
{
    display: none;
}

.carousel.no-transition
{
    scroll-behavior: auto;
}

.carousel.dragging
{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card
{
    user-select: none;
    cursor: grab;
}

.card .img
{
    background: #8B53FF;
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.card .img img
{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 4px solid #fff;
}

.card h2
{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.card span
{
    color: #6629d7;
    font-weight: 500;
    font-size: 1.56rem;
}